@import "../../responsive.scss";
.footerContainer {
  width: 100vw;
  height: auto;
  position: relative;
  background: linear-gradient(to bottom, #ffffff 0%, #e6f0f9 100%);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 4% 14%;
  gap: 40px 0;

  @include lg {
    padding: 4% 8%;
  }

  @include md {
    padding: 4% 6%;
  }

  @include sm {
    padding: 6% 1%;
  }

  .fTopCont {
    flex: 2;
    display: flex;

    img {
      @include sm {
        width: 6em;
      }
    }
  }

  .fMidCont {
    flex: 10;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include sm {
      padding: 0 2%;
      gap: 20px 0;
    }

    .fMidItem {
      display: flex;
      flex-direction: column;
      font-family: Manrope;
      gap: 20px;

      h1 {
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 1%;
        text-transform: uppercase;

        @include md {
          font-size: 16px;
        }

        @include sm {
          font-size: 14px;
          line-height: 10%;
        }
      }

      li {
        font-weight: 500;
        font-size: 18px;
        line-height: 40px;
        letter-spacing: 1%;
        list-style: none;

        @include md {
          font-size: 14px;
        }

        @include sm {
          font-size: 14px;
          line-height: 26px;
        }
      }
    }
  }

  .fBotCont {
    display: flex;
    justify-content: space-between;

    @include md {
      font-size: 12px;
    }

    @include sm {
      flex-direction: column;
      align-items: center;
      font-size: 10px;
    }
  }
}
